<div class="row" style="height: 50px;"></div>
<h1><%= @user.name %>のプロフィール</h1>
<%= attachment_image_tag @user, :profile_image, :fill,100, 100, class: "img-circle"%>


<%= link_to edit_user_path(@user) do %>
  <div class="btn btn-success">編集</div>
<% end %>

<div class="row" style="height: 20px;"></div>
<% if @user != current_user %>
  <div class="btn btn-success">チャットを送る。</div>
<% end %>