<div class="center">
	<i class="far fa-comments top-icon"></i>
	<h3>Chat_app2</h3>
	<P>by mori</P>
</div>
<div class="row">
	<div class="col-4"></div>
	<div class="col-4">
	  <% if user_signed_in? %>
	    <%= link_to posts_path do %>
  	    <div class="btn btn-warning btn-block">Go To Chat!</div>
  	   <% end %>
    <% else %>
  	  <%= link_to new_user_session_path do %>
  	    <div class="btn btn-warning btn-block">Log in</div>
  	  <% end %>
  	<% end %>
  	  <div class="row" style="height: 50px;"></div>
  	  <p>
        <a class="btn btn-warning" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    about
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
           ActionCableを諦めてAjaxを使ったChatアプリ。
        </div>
      </div>
	</div>
	<div class="col-4"></div>
</div>
<div class="row">
  <div class="col-6">
      <div class="row p-2">
        <div class="col-6"></div>
        <div class="col-6 tokyo"></div>
      </div>
  </div>
  <div class="col-6">
      <div class="row p-2">
        <div class="col-6"></div>
        <div class="col-6 sizuoka"></div>
      </div>
  </div>
  <div class="col-6">
      <div class="row p-2">
        <div class="col-6"></div>
        <div class="col-6 nara"></div>
      </div>
  </div>
  <div class="col-6">
      <div class="row p-2">
        <div class="col-6"></div>
        <div class="col-6 kyoto"></div>
      </div>
  </div>
</div>

